{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}



<!-- Page Description and Instructions -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Welcome to Gainz App</h5>
        <p class="card-category">Created for hodler's who need some clarity</p>
      </div>
      <div class="card-body">
        <div>
          
          <h6>Gainz Mission Statement: Help people solve the "I don't know what I've done with my crypto" problem :-) </h6>

          <p>
            <br>After a unsuccessful attempt in excel, and finding nothing that felt quite right I started working on Gainz.
            <br>Maybe you're in a similar situation trying remember what you did to make sense of it all. In anycase I want to say thank you for your interest and support. 
            <br>
            <br>Gainz is made to be used fully offline and disconnected from the internet to maintain privacy.
            <br>
            <br>Gainz will import exchange transactions CSV(s) then guide you though some common scenarios to provide clarity and understanding of your crypto holdings and associated Gains or losses.
            <br>
            <br>Get started by importing transactions then work your way down to export.
            <br> 
            <br>Reports will be exported in excel format for your reference and shareability. 
            <br>
            <br><bold>Gainz, Does not provide Legal, Financial, or Tax Advice. Please consult with your tax advisor to validate results. </bold>
          </p>
        
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Description and Instructions -->


<!-- Wealth Affirmations -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Wealth Affirmations</h5>
        <!-- <p class="card-category">Created for hodler's who need some clarity</p> -->
      </div>
      <div class="card-body">
        <div>
          <ul>
            <li>I give the world the best I have, and the best comes back to me</li>
            <li>I feel gratitude for all the wealth I have acquired now and in the future</li>
            <li>Large sums of money come to me easily and quickly in increasing quantities from multiple sources on a continuous basis in the best interest of all that I get to keep, use, spend, and give, joyously!</li>
            <li>I AM prosperous and allow myself to be wealthy</li>
            <li>I AM financial freedom</li>
            <li>I AM attracting money from all directions</li>
            <li>I AM rich enough to fulfill all my desires</li>
            <li>I AM accustomed to the power of abundance</li>
            <li>I AM living a life of purpose</li>
            <li>I AM persistent in chasing my dreams</li>
            <li>I AM motivated and hold all energies to accomplish my goals</li>
            <li>I AM abundance!</li>
            <li>I AM wealth!</li>
            <li>I AM rich!</li>

          </ul>
          



        </div>
      </div>
    </div>
  </div>
</div>
<!-- Wealth Affirmations -->


{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
