{% extends "base_site.html" %}

{% block title %} Setting User Password {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">

            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Crypto Wizard </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <!-- Smart Wizard -->
                    <p>Lets get started wtih some basic Information</p>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr"> Exchange Transactions<br /> <small>Import Transactions from Exchanges</small> </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr"> Other Transactions<br /> <small>Manually Enter Transactions</small> </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr"> HODL Info<br /> <small>Enter Current Asset Holdings</small> </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-4">
                            <span class="step_no">4</span>
                            <span class="step_descr"> Tax Info<br />  <small>Enter Previous Years Tax Info </small> </span>
                          </a>
                        </li>
                      </ul>
                      
                      <div id="step-5">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Dropzone multiple file uploader</h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                  </div>
                              </li>
                              <li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <p>Drag multiple files to the box below for multi upload or click to select files.</p>
                            <form action="form_upload.html" class="dropzone"></form>
                            <br />
                            <br />
                            <br />
                            <br />
                          </div>
                        </div>
                      </div>
                      <form  method="POST" id="demo-form2" data-parsley-validate class="form_wizard form-label-left">
                        {# This hidden_tag is a CSRF security feature. #}
                        {{ form.hidden_tag() }}


                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Exchange Name <span class="required">*</span></label>
                          <div class="col-md-6 col-sm-6 ">
                            {{ form.breed.label }} {{form.breed}}
                          </div>
                        </div>
                        
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">First Name <span class="required">*</span></label>
                          <div class="col-md-6 col-sm-6 ">
                            {{ form.neutered.label}} {{form.neutered}}
                          </div>
                        </div>

                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">First Name <span class="required">*</span></label>
                          <div class="col-md-6 col-sm-6 ">
                            {{form.food_choice.label}}{{form.food_choice}}
                          </div>
                        </div>
                        
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">First Name <span class="required">*</span></label>
                          <div class="col-md-6 col-sm-6 ">
                            {{form.mood.label}}{{form.mood}}
                          </div>
                        </div>
                        
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">First Name <span class="required">*</span></label>
                          <div class="col-md-6 col-sm-6 ">
                            {{form.feedback}}
                          </div>
                        </div>

                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">First Name <span class="required">*</span></label>
                          <div class="col-md-6 col-sm-6 ">
                            {{ form.submit() }}
                          </div>
                        </div>

                    </form>
                    </div>
                    <!-- End SmartWizard Content -->
                    <!-- End SmartWizard Content -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->


{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}



