{% extends "base_site.html" %}

{% block title %} HODL & Accounting {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

<!-- Page Description and Instructions -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">      
        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
          <h4 class="card-title">HODL and Accounting</h4>
          <div class="card card-plain">
            <div class="card-header" role="tab" id="headingOne">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse_1" aria-expanded="true" aria-controls="collapseOne">
                How to use this page
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </div>
            <div id="collapse_1" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-body">
                Use this page to find and resolve common discrepencies in your data.
                <br><br><b>Exchange Data and HODL true up. </b>
                <br>For example you have 10 BTC in buys but only 5 BTC in your posession we have a few way to account for this.
                <br>Why should you care? If you do nothing you may link sells to buys that were previously sold, lost in boating accidents, stolen, ect. 
                <br>The two options available are to convert sends into sells or convert buys into lost (future feature will track buy -> send -> lost for greater verbosity).
                <br>If HODL information provided:
                <br>
                <br> Buys - HODL = Sold_or_Lost 
                <br> Sold_or_Lost - Sells = Needs_Classification
                <br>
                <br> Else:
                <br>
                <br> Buys - Sells = Needs_Classification
                <br>
                <br>All conversion operations are saved for reference and exportation.
                <br><br><b>Linking pre-check and true up. </b>
                <br>For example you have 10 BTC in sells but all the buys prior to that date only add up to 5 BTC. 
                <br>In this situation we will run out of buys to link sells to. In this case we can convert receives to buys or add buys manually. 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Description and Instructions -->
  

            
<!-- Stats Table -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
          <h4 class="card-title">Select an asset</h4>
          <div class="card card-plain">
            <div class="card-header" role="tab" id="headingOne">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse_2" aria-expanded="true" aria-controls="collapseOne">
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </div>
            <div id="collapse_2" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              
              <!-- Card Body -->
              <div class="card-body ">
                <table id="eh_stats_datatable" class="table table-striped table-bordered" style="width:100%">
                  <thead>
                    <tr>
                      <th>Asset</th>
                      <th>Purchased</th>
                      <th>Sold</th>
                      <th>Sent</th>
                      <th>Received</th>
                      <th>Quantity Sold Unlinked</th>
                      <th>Quantity Purchased Unlinked</th>
                      <th>Purchased in USD</th>
                      <th>Sold in USD</th>
                      <th>HODL</th> 
                      
                    </tr>
                  </thead>

                  <tbody>
                    {% for row in stats_table_data %}

                    <tr>
                      <td>{{ row['symbol'] }}</td>
                      <td>{{ row['total_purchased_quantity'] }}</td>
                      <td>{{ row['total_sold_quantity'] }}</td>
                      <td>{{ row['total_sent_quantity']  }}</td>
                      <td>{{ row['total_received_quantity']}}</td>
                      <td>{{ row['total_sold_unlinked_quantity'] }}</td>
                      <td>{{ row['total_purchased_unlinked_quantity'] }}</td>
                      <td>{{ row['total_purchased_usd'] }}</td>
                      <td>{{ row['total_sold_usd']  }}</td>
                      <td>{{ row['hodl']  }}</td>
                      
                    </tr>
                    
                    {% endfor %}
                  
                  </tbody>
                
                </table>
              </div>
              <!-- /Card Body -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Stats Table End -->

<!-- Input and Options  -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
          <h4 class="card-title">Info and Actions</h4>
          <div class="card card-plain">
            <div class="card-header" role="tab" id="headingOne">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse_3" aria-expanded="true" aria-controls="collapseOne">
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </div>
            <div id="collapse_3" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              
              <!-- Card Body -->
              <div class="card-body ">
                <b>Exchange Data and HODL true up. </b>
                <p id='eh_options'> Select a row from Stats Table to Populate </p>
                <input type="number" id='hodl_quantity' placeholder="Current HODL">
                <button type="button" id="submit_hodl_button" class="btn btn-success">Submit HODL</button> <br>
                
                <br>
                
                <p id='convert_text'></p>
                <input type="number" id='convert_quantity' placeholder="Quantity to Convert">
                
                <button type="button" id="sends_to_sells_button" class="btn btn-warning">Convert Sends to Sells</button>
                <button type="button" id="buys_to_lost_button" class="btn btn-warning">Convert Buys to Lost</button>
                
                <br><br>

                <b>Linking pre-check and true up. </b>
                <p class="welcome-text" id='hodl_pre_check_text'> Select a row from Stats Table to Populate </p>

              
              </div>
              <!-- /Card Body -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Transaction End -->




{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}



